html {
  background-color: #0a0a0a;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  max-width: 80ch;
  padding: 5em;
  line-height: 1.5;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
footer {
  border-radius: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
  text-align: center;
  background-color: #111;
}
a{
    color: #00aaff;
    text-decoration: none;
    margin-right: 1rem;
}
a:hover {
  text-decoration: underline;
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  color: white;
}
h2, p{
    color: white;
}

/*nav links*/

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 2.5px;
  border-radius: 10px;
  margin-bottom: 10px;
  background-color: #ffffff;
}

.nav-links{
  width: 100%;
  top:5rem;
  left: 48px;
  padding: 0rem 0 2.5rem;
  background-color: #ffffff ;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align:center;
  padding: 10px 0;

  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color:rgb(0, 0, 0);
  background-color: #ffffff;
  border-radius: 1em;
    margin-bottom: 10px;
}

.nav-links a:hover,
.nav-links a:focus
{
  background-color: #000000 ;
  color: #ffffff;
  border: #ffffff solid 0.1em;
  
}

.expanded{
  display: unset;
}

@media screen and (min-width: 636px){
  .nav-links{
    display: block;
    position:static;
    width: auto;
    background: none;
  }
  .nav-links a{
    display: inline;
    padding: 8px 20px;
  }
  .hamburger{
    display: none;
  }
}

